app/website/__pycache__/
.vscode/
AUTHORS
*.sqlite3
Backups/
CachedData/
CachedExtensions/
Cookies
Cookies-journal
Preferences
User/
languagepacks.json
logs/
machineid
storage.json
.idea/
Cache/
GPUCache/
Local Storage/
app/djangoapp/migrations/__pycache__/
__pycache__/